 
<div  #movieElement class="profileblock">
  <h3>{{ "Введите название фильма" }}</h3>
  <div class="profile-form">
    <input class="profile-field" type="text" #keywordInput [placeholder]="'введите название' " />
    <button class="button-blue" (click)="searchMovies(keywordInput.value)">{{ 'искать фильмы' }}</button>
  </div>
  <!-- <p>{{ 'addMoviesInstruction' | translate }}</p> -->
  <div class="profileblock-horiz">
    <movie 
    [@animationDelayed]="{
      value: '',
      params: {
        timings: getAnimationTimings(i)
      }
    }" 
    
    *ngFor="let film of searchResult;let i = index;" [film]="film" [user]="user"></movie>
  </div>
 
</div>
