<!-- <p>menu works!</p> -->

<!-- <div @slideanimation style="position: relative; display: flex; flex-direction: column; justify-content: flex-start; 
align-items: flex-start;  "> -->
<div *ngIf="!expand" [ngClass]="getButtonclass(useractive)" (click)="expandcollapse()" >
     <div style=" width: 90%;
     height: 90%;  " [matBadge]="unreadCount" [matBadgeHidden]="!unreadCount">
        <img style="width: 100%;" src="assets/pics/menu.svg" alt=""  >
    </div>

</div>
<div @fadeInOut class="overlay" *ngIf="expand" (click)="expandcollapse()"></div>
<nav @slideanimation class="menu" *ngIf="expand">
    <h3>{{"menu"|translate}} </h3>
    <div routerLink="/profile" [ngClass]="getOptionTextClass( isRouteActive('/profile' ))" (click)="navigateProfile()">
        {{"profile"|translate}}</div>
    <div routerLink="/candidates" [ngClass]="getOptionTextClass( isRouteActive('/candidates' ))"
        (click)="navigateCandidates() ">{{"search"|translate}} </div>
    <div routerLink="/dialogues" [ngClass]="getOptionTextClass( isRouteActive('/dialogues' ))"
        (click)="navigateDialogues() ">{{"chats"|translate}}
        <span *ngIf="unreadCount>0"> &nbsp; {{getUnreadString() }} </span>
    </div>
    <div routerLink="/dialogues" [ngClass]="getOptionTextClass( false )" (click)="logout() ">{{"logout"|translate}}
    </div>

    <!-- <button (click)="switchTheme()"> Тема</button> -->
    <!--   <div class="flipswitch">
        <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" checked>
        <label class="flipswitch-label" for="fs">
            <div class="flipswitch-inner"></div>
            <div class="flipswitch-switch"></div>
        </label>
    </div> -->
    <div class="flipswitch">
        <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" [(ngModel)]="isDarkTheme"
            (change)="switchTheme()">
        <label class="flipswitch-label" for="fs">
            <div class="flipswitch-inner"></div>
            <div class="flipswitch-switch"></div>
        </label>
    </div>



    <!--       <div class="btn btn-pill" id="button-3">
        <input type="checkbox" class="checkbox" />
        <div class="knob"></div>
        <div class="btn-bg"></div>
      </div> -->





</nav>

<!-- </div> -->